body{
	background-color: #f5b266e6;
	}
	
	#header{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	
	h1{
		color: white;
	}
	p{
		color: white;
	}
	#input_area{
		padding:10px;
	}
	.paddingRight{
		padding-right: 5px;;
	}
	#textbox{
		width: 300px;
	}
	.hide{
		display: none;
	}
	#chatArea{
	border-color: white;
	border-width: 2px;
	border-style: solid;
	width: 100%;
	height: 75%;
	background-color: #fdefc6;
	margin-right: 15px;
	margin-left: 15px;
	padding: 10px;
	overflow: scroll;
	}
	.col-md-8{
		height: 1020px;
	}
	#helpBox{
		width: 400px;
		height:100px;
	}